/* Global CSS that are applied for all screen sizes */

.submenu ul {
	max-width: 1240px;
	margin: 0;
	padding: 0;
	list-style: none;
	
	font-size: 1.4em;
	font-weight: 250;
}

.submenu li span {
	display: block;
}

.submenu a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.submenu i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */


/* Hover effect for the whole submenuigation to make the hovered item stand out */
/*
.no-touch .submenu ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.no-touch .submenu ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}
*/
/* Adding some background color to the different menu items */
	/* Transforms the list into a horizontal submenuigation */
	.submenu li {
		float: left;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	.submenu a {
		display: block;
		width: auto;
	}

	/* agrega un borde en la parte inferior cuando se hace hover */
	.no-touch .submenu li:nth-child(6n+1) a:hover,
	.no-touch .submenu li:nth-child(6n+1) a:active,
	.no-touch .submenu li:nth-child(6n+1) a:focus {
		border-bottom: 4px solid rgb(174, 78, 1);
	}
	
	.no-touch .submenu li:nth-child(6n+2) a:hover,
	.no-touch .submenu li:nth-child(6n+2) a:active,
	.no-touch .submenu li:nth-child(6n+2) a:focus {
		border-bottom: 4px solid rgb(191, 117, 20);
	}

	.no-touch .submenu li:nth-child(6n+3) a:hover,
	.no-touch .submenu li:nth-child(6n+3) a:active,
	.no-touch .submenu li:nth-child(6n+3) a:focus {
		border-bottom: 4px solid rgb(12, 110, 149);
	}

	.no-touch .submenu li:nth-child(6n+4) a:hover,
	.no-touch .submenu li:nth-child(6n+4) a:active,
	.no-touch .submenu li:nth-child(6n+4) a:focus {
		border-bottom: 4px solid rgb(10, 75, 117);
	}

	.no-touch .submenu li:nth-child(6n+5) a:hover,
	.no-touch .submenu li:nth-child(6n+5) a:active,
	.no-touch .submenu li:nth-child(6n+5) a:focus {
		border-bottom: 4px solid rgb(16, 34, 44);
	}

	.no-touch .submenu li:nth-child(6n+6) a:hover,
	.no-touch .submenu li:nth-child(6n+6) a:active,
	.no-touch .submenu li:nth-child(6n+6) a:focus {
		border-bottom: 4px solid rgb(9, 18, 25);
	}

	

	/* Placing the icon */
	
	.icon {
		padding-top: 1em;
	}

	.icon + span {
		margin-top: 1.5em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* animando el tamaño de los a cuando se hace hover este crece*/
	.submenu a {
		height: 10em;
	}

	.no-touch .submenu a:hover ,
	.submenu a:active ,
	.submenu a:focus {
		height: 11em;
	}	

	/* Making the text follow the height animation */
	.no-touch .submenu a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the icons and preparing for the animation*/
	.submenu i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}	
	
	/* Animate the box-shadow to create the effect */
	.no-touch .submenu a:hover i,
	.no-touch .submenu a:active i,
	.no-touch .submenu a:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		

